/Assignments/Assignment 1/latex/*.pdf
/Assignments/Assignment 1/latex/*.aux
/Assignments/Assignment 1/latex/*.gz
/Assignments/Assignment 1/latex/*.log
/Assignments/Assignment 1/latex/.gz(busy)
Assignments/Assignment 1/Thumbs.db